@media screen and (max-width: 480px) {

  /* 480px以下に適用されるCSS（スマホ用） */
  .container-mob {
    display: block;
    position: relative;
    font-family: "Arial Black";
  }

  .container {
    display: none;
  }

  #main-mob {
    width: 100%;
    margin: 0 auto;
  }

  #qrOutput-mob {
    display: none;
  }

  .qrblock {
    display: block;
    text-align: center;
  }

  .searchBox {
    text-align: center;
  }

  .resetQr {
    text-align: center;
    margin-top: 5px;
  }

  .titleQr {
    font-size: 5vh;
    margin: 20px;
    font-weight: bold;
  }

  p.qrcomment {
    background: #7acdee;
    text-align: center;
    color: #000000;
    padding: 7px 35px 8px;
    border-radius: 9999px;
    display: inline-block;
    margin: 0 0 25px;
    position: relative;
  }

  p.qrcomment:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #7acdee;
    z-index: 1;
  }

  #qrDownload-mob {
    text-align: center;
    visibility: hidden;
  }

  #isbn-mob {
    width: 300px;
    height: 30px;
    font-size: 15px;
  }

  #getqrInfo-mob {
    height: 35px;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(230, 128, 55);
  }

  #qrReset-mob {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    background-color: rgb(255, 84, 84);
  }

  #qrOutput-mob {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
}